:root {
    /* Dark theme */
    --dark-background: #222;
    --dark-foregeound: #ddd;
    --dark-ltbackground: #444;
    --dark-border: #aaa;
    /* Light theme */
    --light-background: #fff;
    --light-foregeound: #222;
    --light-ltbackground: #ddd;
    --light-border: #555;
    /* Defaults */
    --current-background: var(--light-background);
    --current-foreground: var(--light-foregeound);
    --current-ltbackground: var(--light-ltbackground);
    --current-border: var(--light-border);
}

@media (prefers-color-scheme: dark) {
    :root {
        --current-background: var(--dark-background);
        --current-foreground: var(--dark-foregeound);
        --current-ltbackground: var(--dark-ltbackground);
        --current-border: var(--dark-border);
    }
}

body {
    background-color: var(--current-background);
    color: var(--current-foreground);
}

.App {
    background-color: var(--current-background);
    color: var(--current-foreground);
}

.EditorDiv {
    display: grid;
    grid-template-areas:
        "a b"
        "a c";
    grid-template-columns: max-content;
}

.EditorHelp {
    font-size: xxx-large;
    grid-area: a;
}

.EditorHelpSign {
    animation: EditorHelpSign-spin infinite 20s linear;
}

.PredefinedGames {
    grid-area: b;
}

@keyframes EditorHelpSign-spin {
    from {
        color: rgba(255, 64, 64, 0.91);
    }
    to {
        color: rgba(255, 64, 255, 0.75);
    }
}

.EditorHelp .HelpContent {
    display: none;
}

.EditorHelp:hover .HelpContent {
    display: flow;
    position: absolute;
    background-color: var(--current-ltbackground);
    border-radius: 3px;
    border-color: var(--current-border);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.1em 0.5em;
    font-size: large;
    text-align: left;
}
