.GameParamsEditorAdder {
    vertical-align: middle;
}

.GameParamsEditorAdder > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.GameParamsEditorAdder ul {
    display: none;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: var(--current-border);
    z-index: 1;
    list-style-type: none;
    background-color: var(--current-ltbackground);
    color: var(--current-foreground);
    margin: 0.1em;
    padding: 0.1em;
}

.GameParamsEditorAdder:hover ul {
    display: block;
}

.GameParamsEditorAdder li {
    cursor: pointer;
}

.GameParamsEditorAdder li:hover {
    background-color: var(--current-background);
}

.GameParamsEditorBufferEditor,
.GameParamsEditorProcessorEditor,
.GameParamsEditorForkliftEditor {
    border-width: 1px;
    border-style: solid;
    border-color: var(--current-border);
    border-radius: 3px;
    margin: 0.1em;
    padding: 0.1em;
}

.Delete {
    cursor: pointer;
    font-size: larger;
}

.Error {
    background-color: tomato;
}